<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework"
    type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
    requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <!--<add name="RMS_Estimation_Service.Properties.Settings.RmsServicesConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\RmsServices.accdb;Persist Security Info=True" providerName="System.Data.OleDb" />-->
    <!--<add name="RmsServicesEntities" connectionString="metadata=res://*/Models.RmsModel.csdl|res://*/Models.RmsModel.ssdl|res://*/Models.RmsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\DatabaseSql\RmsServices.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="RmsServicesNgaSqlServer" connectionString="Data Source=NGA-OPTI3040\MSSQLSERVERNGA;Initial Catalog=RmsServices;Integrated Security=True"
      providerName="System.Data.SqlClient"/>
    <add name="RmsServicesRemoteSqlServer"
      connectionString="Data Source=10.160.102.31,1433; Network Library=DBMSSOCN; Initial Catalog=RmsServices; User ID=sa; Password=PkfbJya1u2Y43OZp6QUR;"
      providerName="System.Data.SqlClient"/>
    <add name="RmsServicesLocalDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\db\RmsServices.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="RmsServicesEntitiesSqlServer" connectionString="metadata=res://*/Models.RmsModel.csdl|res://*/Models.RmsModel.ssdl|res://*/Models.RmsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NGA-OPTI3040\MSSQLSERVERNGA;initial catalog=RmsServices;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="RmsServicesEntitiesSqlServer"
      connectionString="metadata=res://*/Models.RmsModel.csdl|res://*/Models.RmsModel.ssdl|res://*/Models.RmsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NGA-OPTI3040\MSSQLSERVERNGA;initial catalog=RmsServices;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>